.btn a{
	display: grid;
	text-decoration: none;
	padding: 40px;
	letter-spacing: 5px;
	font-weight: 500px;
	background: #9365ff;
	color: #2c3e50;
	font-family: "Arial Black", sans-serif;
}
a:hover{
	color: #e74c3c;
	transition: 0.9s;
}